<div class="container" style="justify-content: center;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm" style="margin-left: 3.5em;">
          <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        </div>
        <div class="col-sm-4">

        </div>
        
      </div>
      <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
          <button class="btn btn-lg btn-info " [routerLink]="['cadastro']">Acesse sua conta</button>
        </div>
        <div class="col-sm">

        </div>
        
      </div>
    </div>
  </div>