<nav class="navbar navbar-expand-md navbar-light mb-4 fixed-top" style="background-color: #FF7F50;">
    <!-- a class="navbar-brand" href="#">Brand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item principal">
          <a class="nav-link active principal" id="menu" href="#">Institucional <span class="principal sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" id="menu">Produtos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"  id="menu">Banco <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"  id="menu">Cartões <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/cadastro']" class="nav-link" href="#"  id="menu">Cadastro <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>
  </nav>

    <main role="main" class="container">
        <div class="jumbotron">

            <router-outlet></router-outlet>

        </div>
    </main>