<div class="container" style="justify-content: center;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="container" style="justify-content: center;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="container">
              <img class="mb-4 margin-block" [src]="imagePath" alt="Logo Banco Indra" width="400" height="300" display:none>
            </div>

          </div>
          <div class="row">
              <button class="btn btn-lg btn-primary margin-block" [routerLink]="['/index']">Acesse sua conta</button>
          </div>
        </div>
      </div>
